<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ЯП</title>

<!-- <meta
  property="og:image"
  content="share.jpg"
/> -->

<meta property="og:image:type" content="image/png" />
<meta name="twitter:card" content="summary_large_image" />
<!-- <meta
  property="twitter:image"
  content="share.jpg"
/> -->

<meta name="theme-color" content="$black000" />
<meta name="description" content="Parcel" />

<meta property="og:description" content="Parcel" />

<!-- styles -->
<link rel="stylesheet" href="scss/index.scss" />
