<section class="image-section">
  <!-- Секция с изображениями -->
  <h2>Изображения</h2>
  <div class="image-list">
    <!-- Здесь будут отображаться изображения -->
    <img src="images/on-web/image5.png" data-pdf="./on-pdf/image5.png" link="/page5" alt="Изображение 5" />
    <img src="images/on-web/image6.png" data-pdf="./on-pdf/image6.png" link="/page6" alt="Изображение 6" />
    <img src="images/on-web/image7.png" data-pdf="./on-pdf/image7.png" link="/page7" alt="Изображение 7" />
    <img src="images/on-web/image8.png" data-pdf="./on-pdf/image8.png" link="/page8" alt="Изображение 8" />
    <img src="images/on-web/image9.png" data-pdf="./on-pdf/image9.png" link="/page9" alt="Изображение 9" />
    <img src="images/on-web/image10.png" data-pdf="./on-pdf/image10.png" link="/page10" alt="Изображение 10" />
    <img src="images/on-web/image11.png" data-pdf="./on-pdf/image11.png" link="/page11" alt="Изображение 11" />
    <img src="images/on-web/image12.png" data-pdf="./on-pdf/image12.png" link="/page12" alt="Изображение 12" />
    <img src="images/on-web/image13.png" data-pdf="./on-pdf/image13.png" link="/page13" alt="Изображение 13" />
    <img src="images/on-web/image14.png" data-pdf="./on-pdf/image14.png" link="/page14" alt="Изображение 14" />
    <img src="images/on-web/image15.png" data-pdf="./on-pdf/image15.png" link="/page15" alt="Изображение 15" />
    <img src="images/on-web/image16.png" data-pdf="./on-pdf/image16.png" link="/page16" alt="Изображение 16" />
    <img src="images/on-web/image17.png" data-pdf="./on-pdf/image17.png" link="/page17" alt="Изображение 17" />
    <img src="images/on-web/image18.png" data-pdf="./on-pdf/image18.png" link="/page18" alt="Изображение 18" />
    <img src="images/on-web/image19.png" data-pdf="./on-pdf/image19.png" link="/page19" alt="Изображение 19" />
    <img src="images/on-web/image20.png" data-pdf="./on-pdf/image20.png" link="/page20" alt="Изображение 20" />
    <img src="images/on-web/image21.png" data-pdf="./on-pdf/image21.png" link="/page21" alt="Изображение 21" />
    <img src="images/on-web/image22.png" data-pdf="./on-pdf/image22.png" link="/page22" alt="Изображение 22" />
    <img src="images/on-web/image23.png" data-pdf="./on-pdf/image23.png" link="/page23" alt="Изображение 23" />
    <img src="images/on-web/image24.png" data-pdf="./on-pdf/image24.png" link="/page24" alt="Изображение 24" />
    <img src="images/on-web/image25.png" data-pdf="./on-pdf/image25.png" link="/page25" alt="Изображение 25" />
    <img src="images/on-web/image26.png" data-pdf="./on-pdf/image26.png" link="/page26" alt="Изображение 26" />
    <img src="images/on-web/image27.png" data-pdf="./on-pdf/image27.png" link="/page27" alt="Изображение 27" />
    <img src="images/on-web/image28.png" data-pdf="./on-pdf/image28.png" link="/page28" alt="Изображение 28" />
    <img src="images/on-web/image29.png" data-pdf="./on-pdf/image29.png" link="/page29" alt="Изображение 29" />
    <img src="images/on-web/image30.png" data-pdf="./on-pdf/image30.png" link="/page30" alt="Изображение 30" />
    <img src="images/on-web/image31.png" data-pdf="./on-pdf/image31.png" link="/page31" alt="Изображение 31" />
    <img src="images/on-web/image32.png" data-pdf="./on-pdf/image32.png" link="/page32" alt="Изображение 32" />
    <img src="images/on-web/image33.png" data-pdf="./on-pdf/image33.png" link="/page33" alt="Изображение 33" />
    <img src="images/on-web/image34.png" data-pdf="./on-pdf/image34.png" link="/page34" alt="Изображение 34" />
    <img src="images/on-web/image35.png" data-pdf="./on-pdf/image35.png" link="/page35" alt="Изображение 35" />
    <img src="images/on-web/image36.png" data-pdf="./on-pdf/image36.png" link="/page36" alt="Изображение 36" />
    <img src="images/on-web/image37.png" data-pdf="./on-pdf/image37.png" link="/page37" alt="Изображение 37" />
    <img src="images/on-web/image38.png" data-pdf="./on-pdf/image38.png" link="/page38" alt="Изображение 38" />
    <img src="images/on-web/image39.png" data-pdf="./on-pdf/image39.png" link="/page39" alt="Изображение 39" />
    <img src="images/on-web/image40.png" data-pdf="./on-pdf/image40.png" link="/page40" alt="Изображение 40" />
    <img src="images/on-web/image41.png" data-pdf="./on-pdf/image41.png" link="/page41" alt="Изображение 41" />
    <img src="images/on-web/image42.png" data-pdf="./on-pdf/image42.png" link="/page42" alt="Изображение 42" />
    <img src="images/on-web/image43.png" data-pdf="./on-pdf/image43.png" link="/page43" alt="Изображение 43" />
    <img src="images/on-web/image44.png" data-pdf="./on-pdf/image44.png" link="/page44" alt="Изображение 44" />
    <img src="images/on-web/image45.png" data-pdf="./on-pdf/image45.png" link="/page45" alt="Изображение 45" />
    <img src="images/on-web/image46.png" data-pdf="./on-pdf/image46.png" link="/page46" alt="Изображение 46" />
  </div>
</section>
<section class="selected-images">
  <!-- Секция с выбранными изображениями -->
  <h2>Выбранные изображения</h2>
  <button id="generate-pdf">Генерировать PDF</button>
  <div class="selected-list">
    <!-- Здесь будут отображаться выбранные изображения -->
    <img src="images/on-web/image1.png" data-pdf="./on-pdf/image1.png" link="/page1" alt="Изображение 1"
      class="selected-item" />
    <img src="images/on-web/image2.png" data-pdf="./on-pdf/image2.png" link="/page2" alt="Изображение 2"
      class="selected-item" />
    <img src="images/on-web/image3.png" data-pdf="./on-pdf/image3.png" link="/page3" alt="Изображение 3"
      class="selected-item" />
    <img src="images/on-web/image4.png" data-pdf="./on-pdf/image4.png" link="/page4" alt="Изображение 4"
      class="selected-item" />
  </div>
</section>